<table class="data-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Opens</th>
            <th>Closes</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for window in windows %}
        <tr>
            <td class="font-medium">{{ window.title }}</td>
            <td class="text-examiq-slate">{{ window.opens_at|date:"M d, Y H:i" }}</td>
            <td class="text-examiq-slate">{{ window.closes_at|date:"M d, Y H:i" }}</td>
            <td class="text-examiq-slate">{{ window.duration_minutes }} min</td>
            <td class="text-right space-x-2">
                <a href="{% url 'analytics_professor:window_edit' course.pk window.pk %}" class="text-link">Edit</a>
                <a href="{% url 'analytics_professor:window_delete' course.pk window.pk %}" class="text-examiq-mistake">Deactivate</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
